/** ===== Pagination ===== **/
.jeena-pagination,
.woocommerce-pagination {
    flex: 0 0 auto;
    width: 100%;
    margin: 25px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    clear: both;
    padding: 10px 0 0;

    li {
        margin: 0 !important;
    }

    .page-numbers {
        display: block;
        height: 45px;
        width: 45px;
        margin: 5px 5px 0;
        padding: 0;
        color: var(--jeena-headline-color);
        font: {
            family: var(--jeena-secondary-font);
            weight: 500;
            size: 16px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--jeena-border-color);
        border-radius: 50%;
        transition: 0.3s;

        @include respond-below(md) {
            width: 40px;
            height: 40px;
            font-size: 15px;
            line-height: 38px;
        }

        &.current,
        &:not(.dots):hover {
            color: var(--jeena-white-color);
            background-color: var(--jeena-primary-color);
            border-color: var(--jeena-primary-color);
        }
    }
}

.woocommerce-pagination {
    justify-content: center;
    margin-top: 0;
}

.page-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1;
    clear: both;

    .page-links-title {
        color: var(--jeena-headline-color);
        font-weight: 600;
        margin-right: 10px;
    }

    .post-page-numbers {
        width: 30px;
        height: 30px;
        border: 1px solid var(--jeena-border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-left: 5px;
        color: var(--jeena-headline-color);
        transition: 0.3s;

        &:hover,
        &.current {
            background-color: var(--jeena-primary-color);
            border-color: var(--jeena-primary-color);
            color: var(--jeena-white-color);
        }
    }
}